<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Post List</title>
</head>
<body>

<div align="center" class="container my-2">
    <div align="left" class="container my-2">
        <form th:action="@{/post/post-list}">
            <button type="submit" name="home">Home</button>
        </form>
    </div>
    <h3>Filtered Post</h3>

    <table border="1" class = "table table-striped table-responsive-md">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Tag</th>
            <th>PublishedAt</th>
            <th> Excerpt</th>
            <th>View</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        <tr th:each="post : ${postFiltered}">
            <td th:text="${post.getTitle()}"></td>
            <td th:text="${post.getAuthor()}"></td>
            <td th:text="${post.getTagName()}"></td>
            <td th:text="${post.getPublishedAt()}"></td>
            <td th:text="${post.getExcerpt()}"></td>

            <td>
                <form th:action = "@{/post/viewPostPage(id=${post.getPostId()})}" method = "post">
                    <button type="submit" name="View">View</button>
                </form>
            </td>

            <td>
                <form th:action = "@{/post/selected-post(id=${post.getPostId()})}" method = "post">
                    <button type="submit" name="Update">Update</button>
                </form>
            </td>
            <td>
                <form th:action = "@{/post/deletePost(id=${post.getPostId()})}" method = "post">
                    <button type="submit" name="Delete">Delete</button>
                </form>
            </td>
        </tr>
    </table>

</div>

</body>
</html>