<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
</head>
<body>
<div>
    <form method = "post">
        <level>Title: </level><input type = "text" name = "title"><br>
        <level>Author:</level><input type = "text" name = "author"><br>
        <level>Excerpt:</level><textarea name = "message" rows = "5" cols = "40"></textarea><br>
        <level>Content:</level><textarea name = "message" rows = "15" cols = "50"></textarea><br>
        <input type = "submit" value = "Save">
    </form>
</div>
</body>
</html>