<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Post List</title>
</head>
<body>

<div align="center" class="container my-2">
    <h2>Post List</h2>
    <form th:action="@{/post/search}" method="get">
        <input type = "text" name = "keyword" placeholder="Search">
        <button type = "submit">Go</button>
    </form>

    <h4>Filter: </h4>
    <form th:action="@{/post/filter}" th:object="${filterPost}" method="get">
        <table border="1">
            <tr>
            <td><input type="text" th:field = "*{author}" placeholder="Author"></td>
            <td><input type="text" th:field = "*{tagName}" placeholder="Tags"></td>
            <td><input type="text" th:field = "*{publishedAt}" placeholder="PublishDate"></td>
            <td><button type = "submit">Go</button></td>
            </tr>
        </table>
    </form>

    <table class="table table-striped table-responsive-md" border="1">
        <tr>
            <th>
                <a th:href="@{'/post/http://abc.com/' + ${currentPageNo} + '?sortField=title&order=' + ${reverseOrder}}">
                    Title
                </a>
            </th>
            <th>
                <a th:href="@{'/post/http://abc.com/' + ${currentPageNo} + '?sortField=author&order=' + ${reverseOrder}}">
                    Author
                </a>
            </th>
            <th>
                <a th:href="@{'/post/http://abc.com/' + ${currentPageNo} + '?sortField=tagName&order=' + ${reverseOrder}}">
                    Tag
                </a>
            </th>
            <th>
                <a th:href="@{'/post/http://abc.com/' + ${currentPageNo} + '?sortField=publishedAt&order=' + ${reverseOrder}}">
                    PublishedAt
                </a>
            </th>
            <th>
                <a th:href="@{'/post/http://abc.com/' + ${currentPageNo} + '?sortField=excerpt&order=' + ${reverseOrder}}">
                    Excerpt
                </a>
            </th>
            <th>View</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        <tr th:each="post : ${postList}">
            <td th:text="${post.getTitle()}"></td>
            <td th:text="${post.getAuthor()}"></td>
            <td th:text="${post.getTagName()}"></td>
            <td th:text="${post.getPublishedAt()}"></td>
            <td th:text="${post.getExcerpt()}"></td>

            <td>
                <form th:action = "@{/post/viewPostPage(id=${post.getPostId()})}" method = "post">
                    <button type="submit" name="View">View</button>
                </form>
            </td>

            <td>
                <form th:action = "@{/post/selected-post(id=${post.getPostId()})}" method = "post">
                    <button type="submit" name="Update">Update</button>
                </form>
            </td>
            <td>
                <form th:action = "@{/post/deletePost(id=${post.getPostId()})}" method = "post">
                     <button type="submit" name="Delete">Delete</button>
                </form>
            </td>
        </tr>
    </table>

    <div th:if = "${totalPages > 1}">
        <div class = "row col-sm-10">
            <div class="col-sm-2">
                Total Rows: [[${totalItems}]]
            </div>

            <div class="col-sm-1">
                <span th:each = "i: ${#numbers.sequence(1, totalPages)}">
                    <a th:if = "${currentPageNo != i}" th:href="@{'/post/http://abc.com/' + ${i} + '?sortField=' + ${sortField} + '&order=' + ${order}}">[[${i}]]</a>
                    <span th:unless="${currentPageNo != i}">[[${i}]]</span> &nbsp; &nbsp;
                </span>
            </div>

            <div class="col-sm-1">
                <a th:if="${currentPageNo < totalPages}" th:href="@{'/post/http://abc.com/' + ${currentPageNo + 1} + '?sortField=' + ${sortField} + '&order=' + ${order}}">Next</a>
                <span th:unless="${currentPageNo < totalPages}">Next</span>
            </div>

            <div class = "col-sm-1">
                <a th:if="${currentPageNo < totalPages}" th:href="@{'/post/http://abc.com/' + ${totalPages} + '?sortField=' + ${sortField} + '&order=' + ${order}}">Last</a>
                <span th:unless="${currentPageNo < totalPages}">Last</span>
            </div>
        </div>
    </div>

</div>

</body>
</html>