<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post List</title>
</head>
<body>

<div th:if="${not #lists.isEmpty(postList)}">
    <h2>Post List</h2>
    <table border="1">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Tag</th>
            <th>Date</th>
            <th>Excerpt</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        <tr th:each="post : ${postList}">
            <td th:text="${post.getTitle()}"></td>
            <td th:text="${post.getAuthor()}"></td>
            <td th:text="${post.getTagName()}"></td>
            <td th:text="${post.getPublishedAt()}"></td>
            <td th:text="${post.getExcerpt()}"></td>
            <td>
                <form th:action = "@{/post/selected-post(id=${post.getPostId()})}" method = "post">
                    <button type="submit" name="Update">Update</button>
                </form>
            </td>
            <td>
                <form th:action = "@{/post/deletePost(id=${post.getPostId()})}" method = "post">
                     <button type="submit" name="Delete">Delete</button>
                </form>
            </td>
        </tr>
    </table>
</div>

</body>
</html>