<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
</head>
<body>
<div>
    <h1 style = "text-align:center">Registration</h1>
</div>

<div class="container my-2">
    <form th:action="@{/post/post-list}">
        <button type="submit" name="home">Home</button>
    </form>
</div>

<div th:if="${param.success}">
    <div class="alert alert-info" align = "center">You've successfully registered
        to our awesome app!</div>
</div>

<div id = "register-user" align="center">
    <form action = "#" th:action="@{/registration}" th:object="${user}" method = "POST">
        <input type = "text" th:field = "*{userName}" placeholder="Name" required autofocus="autofocus" /><br><br>
        <input type = "email" th:field = "*{email}" placeholder="Email" required autofocus="autofocus" /><br><br>
        <input type = "password" th:field = "*{password}" placeholder="Password" required autofocus="autofocus" /><br><br>
        <input type = "password" name = "confirmPassword" placeholder="Confirm Password" required autofocus="autofocus" /><br><br>
                <input type = "submit" value = "Submit" /> <input type="reset" value="Reset" /><br><br>
                Have an account? <a href="/" th:href="@{/login}">Login</a>
    </form>
</div>
</body>
</html>