<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
    </head>

    <body>
        <div>
            <h1 style="text-align:center">Login</h1>
        </div>
        <div class="container my-2">
            <form th:action="@{/post/post-list}">
                <button type="submit" name="home">Home</button>
            </form>
        </div>

        <div id = "login-user" align = "center">
            <form action = "loginRequest" modelattribute="login" method="post">
                <input path = "emailId" placeholder="Email" /><br><br>
                <input path = "password" placeholder="Password" /><br><br>
                <input type = "submit" value = "Submit" /> <input type="reset" value="Reset" /><br><br>
                Doesn't have account? <a href="/user/register-page">Create One</a>
            </form>
        </div>
    </body>
</html>